<div class="wrapper default-theme" [ngClass]="getClasses()">
  <app-navbar></app-navbar>
<main>
  <app-sidebar></app-sidebar>
  <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 " id="hell">
<div>

  <h4 class="text-muted mb-4">Checking Information</h4>

 
  <div class="row">

    <div class="col-md-12 mb-4">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Buses with low demand</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Bus Number</th>
                    <th>Seats filled(till now)</th>
                    <th>Date</th>
                    <th>D-time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>536 - okhla-saket</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-danger" style="width: 35% ;"></div>
                      </div>
                    </td>
                    <td>September 15, 2020</td>
                    <td>20:00</td>
                  </tr>
                  <tr>
                    <td>045 - maujpur-badli</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-warning" style="width: 43%; "></div>
                      </div>
                    </td>
                    <td>September 4, 2020</td>
                    <td>17:00</td>
                  </tr>
                  <tr>
                    <td>045 - maujpur-badli</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-primary" style="width:60%; "></div>
                      </div>
                    </td>
                    <td>September 6, 2020</td>
                    <td>13:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 mb-4 ">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Check Information</h5>
        </div>
        <div class="card-body">
          <form #cancelForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleFormControlInput1">Bus Number</label>
              <input name="bnumber" type="text" #bnumber="ngModel" class="form-control  rounded-0" id="exampleFormControlInput1" placeholder="000" [(ngModel)]="cancel.bus_no" required>
              <div *ngIf="bnumber.errors && (bnumber.invalid && bnumber.touched)" >
                <small class="text-danger" *ngIf="bnumber.errors.required">This field is required</small>
              </div>
            </div>
            <div class="form-group">
              <button (click)="Openpopup()" [disabled]="cancelForm.form.invalid" class="btn btn-outline-lightning rounded-0 mb-2">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<app-footer></app-footer>
  </div>
  <div id="popup1" id="overlay" *ngIf="fetch">
    <div id="popup">
      <h2>INFORMATION :-</h2>
      <h3>Stops :-</h3>
        <ul>
          <li *ngFor="let appl of path">{{appl}}</li>  
        </ul>
        <!-- <h4>Number of Stops:{{len}}</h4> -->
        <h4>Source:{{source}}</h4>
        <h4>Destination:{{destination}}</h4>
        <h4>Quantity:{{qty}}</h4>
        <a class="close" (click)="Closepopup()">&times;</a>              
    </div>       
  </div >
  <div class="overlay" (click)="toggleSidebar()"></div>
</main>
</div>
